// Import Angular Material theme
@import 'node_modules/@angular/material/theming';
// Define a custom theme with a lighter background for cards
$custom-theme: mat-light-theme((
  color: (
    primary: mat-palette($mat-indigo),
    accent: mat-palette($mat-pink, A200, A100, A400),
    background: mat-palette($mat-grey, 50), // Light grey background for components
  ),
));

// Include the theme
@include angular-material-theme($custom-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
